.winner {
    color: #0dd20d;
    font-size: large;
}

.loser {
    color: red;
    font-size: large;
}

.equal {
    color: #2702f5b8;
    font-size: large;
}

.column1 {
    width: 12%;
}

.column2 {
    width: 25%;
    text-align: center;
}

.column3 {
    width: 25%;
    text-align: center;
}

.center-align {
    text-align: center;
}